<template>
  <v-container grid-list-lg text-lg-center>
    <v-layout row wrap justify-center>
      <v-flex lg4>
        <Header />
        asd
      </v-flex>
    </v-layout>
    <v-layout row wrap justify-center>
      <v-flex lg4>
        <v-text-field
          name="new-quote"
          label="Insert user ID here"
          v-model="userId"
        ></v-text-field>
      </v-flex>
      <v-flex lg2>
        <v-btn
          color="primary"
          @click="onLoadUser"
        >Load User</v-btn>
      </v-flex>
    </v-layout>
    <v-layout row wrap justify-center>
      <nuxt-child/>
    </v-layout>
  </v-container>
</template>

<script>
import Header from '~/components/Header.vue';

export default {
  components: {
    Header
  },
  data: () => ({
    userId: ''
  }),
  methods: {
    onLoadUser() {
      this.$router.push('/users/' + this.userId);
    }
  },
  layout: 'users'
}
</script>

